.section {
  &__card {
    position: relative;
    padding: 24px 0px 40px 0px;
  }
}
.pseudo {
  position: absolute;
  top: 90px;
  right: 0;
  width: 233px;
  height: 234px;
  background: linear-gradient(194.7deg, rgba(245, 130, 32, 0.294) 18.97%, rgba(237, 28, 36, 0.35) 71.56%);
filter: blur(45px);
}
.card {
  &__title {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &__items {
    margin-top: 45px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 60px;
    padding: 0px 43px;
    @media (max-width: 1300px) {
      gap: 15px;
      padding: 0px;
    }
    @include lg {
      grid-template-columns: repeat(2, 1fr);
      margin-top: 20px;
    }
    @include sm {
      grid-template-columns: repeat(1, 1fr);
    }
  }

  &__column {
    position: relative;
    padding: 32px 24px 24px 24px;
    background: linear-gradient(
      180deg,
      rgba(237, 28, 36, 0.77) 0%,
      rgba(245, 130, 32, 0.74) 100%
    );
    border-radius: 16px;
    display: flex;
    flex-direction: column;

    @media (max-width: 1100px) {
      padding: 24px 15px 24px 15px;
    }
  }
  &__pseudo {
    position: absolute;
    top: 0;
    left: -20px;
    @media (max-width: 1300px) {
      left: -10px;
      width: 20px;
    }
  }
  &__pseudo-last {
    position: absolute;
    right: -20px;
    bottom: 0;
    @media (max-width: 1300px) {
      right: -10px;
      width: 20px;
    }
  }

  &__text {
    font-weight: 600;
    font-size: 13.5px;
    line-height: 16px;
    color: $colorWhite;
    &:not(:last-child) {
      margin-bottom: 48px;
      @media (max-width: 1100px) {
        margin-bottom: 20px;
      }
    }
  }

  &__photo {
    margin-top: auto;
    &:not(:last-child) {
      margin-bottom: 16px;
    }
  }

  &__name {
    font-weight: 600;
    font-size: 16px;
    line-height: 125%;
    color: $colorWhite;
  }

  &__profession {
    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    color: $colorWhite;
  }
}
